main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.cell {
  padding: 1.5rem;
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.cell input {
  background-color: black;
  color: white;
  width: 50%;
  border: 1px dashed grey;
}

.gap {
  width: 1rem;
  height: 100%;
  cursor: pointer;
}